{% extends "layout.njk" %}

{% block head %}
  <title>Sobre - Rocketseat</title>
{% endblock %}

{% block content %}
<div id="wrapper">
  <img src="{{data_about.avatar_url}}" alt="{{data_about.name}}">
  <h1>{{data_about.name}}</h1>
  <h2>{{data_about.role}}</h2>
  <p class="links">{{data_about.description}}</p> 
</div>


<div id="tecs">
  <p>Principais tecnologias:</p>
  <ul>
    {% for tec in data_about.tecs %}
    <li>
      <p>{{tec.name}}</p>
    </li>
    {% endfor %}
</div>

<div id="links" class="links links-footer">
  {% for link in data_about.links %}
    <a href="{{link.url}}" target="_blank">{{link.name}}</a>
  {% endfor %}
</div>
{% endblock %}