{% extends "layout.njk" %}

{% block head %}
  <title>Treinamentos - Rocketseat</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" 
      rel="stylesheet" />
{% endblock %}

{% block content %}

  <div id="title">
    <h1>{{training.name}}</h1>
  </div>

  <section class="training">

      <div class="card" id="{{training.id}}">
        <div class="card_course-container">
        <iframe src="https://rocketseat.com.br/{{training.id}}" frameborder="0"></iframe>
          
          <img 
          src="https://storage.googleapis.com/golden-wind/bootcamp-launchbase/assets/{{training.id}}.svg"
          alt="Imagem de {{training.name}}" />
        </div>

        <div class="card_content">
          <p>{{training.name}}</p>
        </div>
        <div class="card_info">
          <p>{{training.qtd_modules}}</p>
          <p class="card_price">{{training.price}}</p>
        </div>
      </div>

  </section>

  {% endblock %}