{% extends "layout.njk" %}

{% block head %}
  <title>Treinamentos - Rocketseat</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" 
      rel="stylesheet" />
{% endblock %}

{% block content %}

  <div id="title">
    <h1>Conteúdos</h1>
  </div>

  <section class="cards">
    {% for item in items %}
      <div class="card" id="{{item.id}}">
        <div class="card_image-container {{ 'featured-wrapper' if item.featured }}">
          <img 
          src="https://storage.googleapis.com/golden-wind/bootcamp-launchbase/assets/{{item.id}}.svg"
          alt="Imagem de {{item.name}}" />
          {% if item.featured %}
            <div class="featured">Featured</div>
          {%endif%}
        </div>

        <div class="card_content">
          <p>{{item.name}}</p>
        </div>
        <div class="card_info">
          <p>{{item.qtd_modules}}</p>
          <p class="card_price">{{item.price}}</p>
        </div>
      </div>
    {% endfor %}

  </section>  

  <script src="scripts.js"></script>
  {% endblock %}