{% extends "layout.njk" %}

{% block head %}
  <title>Receita - Foodfy</title>
{% endblock %}

{% block content %}

  <section class="recipe">
    <div class="title_container">
      <img src="{{recipe.image}}" alt="{{recipe.title}}"/>
      <h1>{{recipe.title}}</h1>
      <span>por {{recipe.author}}</span>
    </div>

    <div id="ingredient_container">
      <h2>Ingredientes</h2>
      <small onClick="AlterState('ingredients')">MOSTRAR/ESCONDER</small>
      <ul id="ingredients">
        {% for item in recipe.ingredients %}
          <li>{{item}}</li>
        {% endfor %}
      </ul>
    </div>

    <div id="preparation_container">
      <h2>Modo de preparo</h2>
      <small onClick="AlterState('preparation')">MOSTRAR/ESCONDER</small>
      <ul id="preparation">
        {% for item in recipe.preparation %}
          <li>{{item}}</li>
        {% endfor %}
      </ul>
    </div>

    <div id="information_container">
      <h2>Informações adicionais</h2>
      <small onClick="AlterState('information')">MOSTRAR/ESCONDER</small>
      <p id="information">{{recipe.information}}</p>
    </div>
  </section>

  <script>
    function AlterState(el) {
      var display = document.getElementById(el).style.display;
      if(display == "none")
          document.getElementById(el).style.display = 'block';
      else
          document.getElementById(el).style.display = 'none';
    }
  </script>

{% endblock %}