<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <title>Foodfy</title>
  <link rel="stylesheet" href="/public/styles.css" />
</head>

<body>
  <header id="menu">
    <div class="links">
      <a href="index.html"><img src="../assets/logo.png" /></a>
      <a href="about.html">Sobre</a>
      <a href="revenue.html">Receitas</a>
    </div>
  </header>

  <div id="wrapper">
    <div id="text_content">
      <h1>As melhores receitas</h1>
      <p>Aprenda a construir os melhores pratos com receitas criadas por profissionais
        do mundo inteiro.</p>
    </div>

    <img src="../assets/chef.png" alt="chef" />
  </div>

  <div id="title">
    <h1>Mais acessadas</h1>
  </div>

  <section id="recipe_cards">

    <div class="card">
      <img src="/assets/burger.png" />
      <h2>Triplo Bancon Burger</h2>
      <p>por Jorge Relato</p>
    </div>

    <div class="card">
      <img src="/assets/pizza.png" />
      <h2>Pizza 4 estações</h2>
      <p>por Fabiana Melo</p>
    </div>

    <div class="card">
      <img src="/assets/espaguete.png" />
      <h2>Espaguete ao alho</h2>
      <p>por Júlia Kinoto</p>
    </div>

    <div class="card">
      <img src="/assets/lasanha.png" />
      <h2>Lasanha mac n' cheese</h2>
      <p>por Juliano Vieira</p>
    </div>

    <div class="card">
      <img src="/assets/doce.png" />
      <h2>Triplo Docinhos pão-do-céu</h2>
      <p>por Ricardo Golvea</p>
    </div>

    <div class="card">
      <img src="/assets/asinhas.png" />
      <h2>Asinhas de frango ao barbecue</h2>
      <p>por Vania Steroski</p>
    </div>
  </section>

  <footer>
    <p>Todos direitos reservados, receitas Foodfy</p>
  </footer>

</body>

</html>