<!DOCTYPE html>
<html lang="en">
<head>
  {% block head %}
    <title>Gym Manager</title>
  {% endblock %}
  <link href="/styles.css" rel="stylesheet" />
</head>
<body>
  <header>
    <div class="links">
      <a href="/" class="active">Teachers</a>
      <a href="/students">Students</a>
    </div>
  </header>

  {% block content %}
  
  {% endblock %}
  
</body>
</html>